<div class="index_main">
  <div class="contact_main">
    <h1> <%= t ".contact" %> </h1>
    <h3>
      <%= t ".contact1" %>
      <%= link_to t(".contact2"), Settings.contact.link7c %>
  </h3>
  </div>
</div>
